*.c~
*.h~
src/*~
bin/*.o
bin/*.so

*.in
*.o
/tests/monitor/src/monitor_tests.o
/tests/monitor/src/monitor_tests
/tests/monitor/src/monitor.o
/tests/baculua/Makefile
/tests/baculua/src/.deps/
/tests/baculua/src/Makefile
/tests/baculua/src/Makefile.am~
/tests/monitor/src/.deps/
/tests/monitor/src/Makefile
/tests/monitor/src/Makefile.am~
/tests/util/Makefile
/tests/util/src/.deps/
/tests/util/src/Makefile
/.tests~
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/config/
/configure
/configure.ac~
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/
/src/Makefile
/tests/Makefile
/tests/monitor/src/main.o
/tests/monitor/src/monitor_tests.c~
